body {
  background-image: url(https://i.stack.imgur.com/NEuip.jpg);
  color: white;
  font-family: 'Lato', sans-serif;
}
#survey-form {
  display: flex;
  flex-direction: column;
  margin: 15px 25vw;
  padding: 40px 30px;
  border: none;
  border-radius: 1vw;
  font-size: 20px;
  background-color: rgba(0, 129, 157, 0.5);
}

#title, #description {
  text-align: center;
}

.form-group {
  margin-bottom: 5vh;
  margin-top: 1vh;
  height: 6vh;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  outline: none;
  font-family: 'Lato', sans-serif;
  background-color: rgba(118, 118, 118,0.5);
  color: white;
  border-color: rgba(198, 0, 0,0.8);
  font-size: 3vh;
}

form p {
  margin-top: 1.6em;
  margin-bottom: 0.5em;
}

::placeholder {
  color: white;
  opacity: 0.5;
}

input[type="submit"]{
  background-color: #c60000; 
  border-radius: 2px;
}

input[type="submit"]:hover {
  background-color: #950000; 
  cursor: pointer;
}

@media (max-width: 480px){
  #survey-form {
    margin: 0 auto;
  }
  #title {
    font-size: 6vw;
  }
}